# Ignore virtual environment directories
.venv
data
results/
optuna_lr.db

# Ignore temporary files
*.tmp
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
.vscode/